<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.programme.server.mapper.PlayerMapper">
   
	<resultMap id="playerResultMap" type="Player">
		<id property="id" column="PLAYER.ID" />
		<result property="firstName" column="PLAYER.FIRSTNAME" />
		<result property="lastName" column="PLAYER.LASTNAME" />
		<result property="county" column="PLAYER.COUNTY" />
		<result property="club" column="PLAYER.CLUB" />
		<result property="dateOfBirth" column="PLAYER.DATEOFBIRTH" />
		<result property="number" column="PLAYER.NUMBER"/>
		<result property="position" column="PLAYER.POSITION"/>
		<result property="redCard" column="PLAYER.REDCARD"/>
		<result property="yellowCard" column="PLAYER.YELLOWCARD"/>
		<result property="blackCard" column="PLAYER.BLACKCARD"/>	
	</resultMap>
	
	<select id="retrievePlayers" parameterType="int" resultMap="playerResultMap">
	    SELECT PLAYER.ID, PLAYER.FIRSTNAME, PLAYER.LASTNAME, PLAYER.COUNTY, PLAYER.CLUB, PLAYER.DATEOFBIRTH, PLAYER.NUMBER, PLAYER.POSITION, PLAYER.YELLOWCARD, PLAYER.REDCARD, PLAYER.BLACKCARD  
		FROM PROGRAMME.PLAYER
		WHERE PLAYER.TEAM_ID=#{id};
	</select>
	
	<select id="retrievePlayer" parameterType="map" resultMap="playerResultMap">
	    SELECT PLAYER.ID, PLAYER.FIRSTNAME, PLAYER.LASTNAME, PLAYER.COUNTY, PLAYER.CLUB, PLAYER.DATEOFBIRTH, PLAYER.NUMBER, PLAYER.POSITION, PLAYER.YELLOWCARD, PLAYER.REDCARD, PLAYER.BLACKCARD   
		FROM PROGRAMME.PLAYER
		WHERE PLAYER.FIRSTNAME=#{firstName}
		AND PLAYER.LASTNAME=#{lastName}
		AND PLAYER.COUNTY=#{team};
	</select>
	
	<update id="updatePlayerWithTeam" parameterType="com.programme.server.domain.Player">
	    UPDATE PROGRAMME.PLAYER SET
		  FIRSTNAME = COALESCE(#{player.firstName}, FIRSTNAME),
		  LASTNAME = COALESCE(#{player.lastName}, LASTNAME),
		  COUNTY = COALESCE(#{player.county}, COUNTY),
		  CLUB = COALESCE(#{player.club}, CLUB),
		  NUMBER = COALESCE(#{player.number}, NUMBER),
		  POSITION = COALESCE(#{player.position}, POSITION),
		  YELLOWCARD = COALESCE(#{player.yellowCard}, YELLOWCARD),
		  REDCARD = COALESCE(#{player.redCard}, REDCARD),
		  BLACKCARD = COALESCE(#{player.blackCard}, BLACKCARD),
		  POINTS = COALESCE(#{player.liveScoreInfo.points}, POINTS),
		  GOALS = COALESCE(#{player.liveScoreInfo.goals}, GOALS),
		  WIDES = COALESCE(#{player.liveScoreInfo.wides}, WIDES),
		  GOALSDEADBALL = COALESCE(#{player.liveScoreInfo.goalsDeadBall}, GOALSDEADBALL),
		  POINTSDEADBALL = COALESCE(#{player.liveScoreInfo.pointsDeadBall}, POINTSDEADBALL)
		WHERE PLAYER.FIRSTNAME=#{paramFirstName}
		AND PLAYER.LASTNAME=#{paramLastName}
		AND PLAYER.COUNTY=#{team};
	</update>
	
</mapper>